<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nonprofit Initiatives : YYScoop.com</title>
        <meta name="description" content="yyscoop.com">
        <meta name="author" content="YY Scoop">
        <meta name="keywords" content="yy scoop,yyscoop.com,free open source software download, free open source projects, freeware, software download">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
    </head>
    <body>
        <header class="text-gray-700 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a href="http://www.yyscoop.com/index.html" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img alt="content" class="object-cover object-center h-full w-full" src="img/favicon.ico">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24"> -->
                  <!-- <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path> -->
                <!-- </svg> -->
                <span class="ml-3 text-2xl">YYSCOOP.com</span>
              </a>
              <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-lg justify-center">
                <a href="http://www.yyscoop.com/index.html" class="mr-5 hover:text-gray-900">Home</a>
                <a href="#Freeware" class="mr-5 hover:text-gray-900">Freeware/Games</a>
                <a href="http://www.yyscoop.com/projects.html" class="mr-5 hover:text-gray-900">Projects</a>
                <a href="https://github.com/yyscoop" target="_blank" class="mr-5 hover:text-gray-900">Github</a>
              </nav>
              <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"><a href="https://www.paypal.me/yyscoop/500" target="_blank">DONATE</a>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
            </div>
          </header>
        
          <!-- About Section ----------------------------->
          <section class="text-gray-700 body-font">
              <hr>
            <div class="container flex flex-wrap px-5 py-12 mx-auto items-center">
              <div class="md:w-2/2 md:pr-12 md:py-0 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-300">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">A Scoop on Freeware & Open Source Resources...</h1>
                <p class="leading-relaxed text-lg">YYScoop.com is a Non-profit Initiative, developing <u><a href="https://en.wikipedia.org/wiki/Free_and_open-source_software" target="_blank">Free Open-Source Software (FOSS) and projects</a></u>. All projects in general, is a volunteer effect and you are free to copy, distribute and/or modify the software, under the terms of the GNU General Public License (<u><a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a></u>) as published by the <u><a href="https://www.fsf.org/" target="_blank">Free Software Foundation</u></a>.</p>
                <span class="text-lg">For development sources, documentation and other information, view <a href="https://github.com/yyscoop" target="_blank" class="text-indigo-500 inline-flex items-center mt-4">public source</span>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
              
            </div>
          </section>
          <!-- About Secction END --------------------------->


          <!-- Download Section ---------------------------------->

          <section class="text-gray-700 body-font">
            <div class="container px-5 py-8 mx-auto">
              <div class="flex flex-col">
                <div class="h-1 bg-gray-200 rounded overflow-hidden">
                  <div id="Freeware" class="w-24 h-full bg-indigo-500" ></div>
                </div>
                <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
                  <h1 class="sm:w-5/5 text-red-900 font-medium title-font text-3xl mb-2 sm:mb-0">Download Open-Source Softwares / Games for Windows.</h1>
                </div>
              </div>

              <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
              </div>

            </div>
          </section>
          

          
          
          <!-- Test -->
          <section class="text-gray-700 body-font">
            <div class="container px-5 py-0 mx-auto">
              <!-- <div class="flex flex-col text-center w-full mb-20">
                <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Download free and open source softwares for Windows.</h1>
              </div> -->
              
              <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/2">
                  <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="img/spaceinvaders.png">
                    <div class="flex-grow sm:pl-8">
                      <h2 class="title-font font-medium text-lg text-gray-900">Space Invaders</h2>
                      <h3 class="text-gray-500 mb-3">MiniGame | Windows</h3>
                      <p class="mb-4">Space Invaders: spaceship shooting game, one of the games came out and existed for a long time with many fans. If you are a fan of this Space wars game, I believe that you will feel satisfied and it will make you addicted.</p>

                      <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"><a href="https://drive.google.com/u/0/uc?id=1k5zo6QDLBn97QmNlvbOB5fwCILM3ejsq&export=download" target="_blank" class="text-indigo-500"> DOWNLOAD </a>
                          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                        <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                            <a href="https://github.com/yyscoop/Space-Invaders/issues" target="_blank">Report Issue</a>
                        </span>
                        <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                            <a href="https://github.com/yyscoop/Space-Invaders" target="_blank">View Source</a>
                        </span>
                      </div>

                      <span class="inline-flex">
                        <a class="text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                          </svg>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="p-4 lg:w-1/2">
                  <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="img/roadfighter.png">
                    <div class="flex-grow sm:pl-8">
                      <h2 class="title-font font-medium text-lg text-gray-900">Road Fighter</h2>
                      <h3 class="text-gray-500 mb-3">MiniGame | Windows</h3>
                      <p class="mb-4">Road Fighter is a 90’s hit arcade car game in which you drive your car carefully to avoid accidents for maximum points. Now play the classic and popular Road fighter, video game version on your PC for free.</p>
                      
                      <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"><a href="https://drive.google.com/u/0/uc?id=1llU7giWINQAPZ9zl-55a9nFtIma_L0_n&export=download" target="_blank" class="text-indigo-500"> DOWNLOAD </a>
                          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                        <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                            <a href="https://github.com/yyscoop/Road-Fighter/issues" target="_blank">Report Issue</a>
                        </span>
                        <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                            <a href="https://github.com/yyscoop/Road-Fighter" target="_blank">View Source</a>
                        </span>
                      </div>
                      
                      <span class="inline-flex">
                        <a class="text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                          </svg>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="p-4 lg:w-1/2">
                  <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="img/musicapp.png">
                    <div class="flex-grow sm:pl-8">
                      <h2 class="title-font font-medium text-lg text-gray-900">Music Player</h2>
                      <h3 class="text-gray-500 mb-3">Freeware | Windows</h3>
                      <p class="mb-4">A lightweight and easy to use music player with simple loop and setup. Lets you manage all your music files quickly and easily using Playlist. This audio player supports music with mp3, wav or similar formats.</p>
                      
                      <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"><a href="https://drive.google.com/u/0/uc?id=17-AF_VkvmQSS0T4s7uKi9rUX0ki67qK8&export=download" target="_blank" class="text-indigo-500"> DOWNLOAD </a>
                          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                        <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                            <a href="https://github.com/yyscoop/Music-Player/issues" target="_blank">Report Issue</a>
                        </span>
                        <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                            <a href="https://github.com/yyscoop/Music-Player" target="_blank">View Source</a>
                        </span>
                      </div>
                      
                      <span class="inline-flex">
                        <a class="text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                          </svg>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="p-4 lg:w-1/2">
                  <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="img/fileencryption.png">
                    <div class="flex-grow sm:pl-8">
                      <h2 class="title-font font-medium text-lg text-gray-900">Text Encrypter</h2>
                      <h3 class="text-gray-500 mb-3">Freeware | Windows</h3>
                      <p class="mb-4">Text Encryptor is a personal text encryption tool designed to allow you to send private encrypted text over unsecured channels such as chat clients and email.</p>
                      
                      <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"><a href="https://drive.google.com/u/0/uc?id=1pwk-p1TAfHxv-2vJ3-UlQ8edwi9kE8NH&export=download" target="_blank" class="text-indigo-500"> DOWNLOAD </a>
                          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                        <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                            <a href="https://github.com/yogesh7132/Encrypto-GUI/issues" target="_blank">Report Issue</a>
                        </span>
                        <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                            <a href="https://github.com/yyscoop/Encrypto-GUI" target="_blank">View Source</a>
                        </span>
                      </div>
                      
                      <span class="inline-flex">
                        <a class="text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                          </svg>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="p-4 lg:w-1/2">
                  <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="img/fileorganiser.png">
                    <div class="flex-grow sm:pl-8">
                      <h2 class="title-font font-medium text-lg text-gray-900">File Organizer</h2>
                      <h3 class="text-gray-500 mb-3">Freeware | Windows</h3>
                      <p class="mb-4">File Organizer is one click file organizer for Windows. This tiny, flexible, hard-working tool will help you to end the chaos of your unorganized files in a simple click and take your messy folders and Desktop under control.</p>
                      
                      <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"><a href="https://drive.google.com/u/0/uc?id=1SKRD_4fJMcSnUYfdoxfx20XsppCFJbEX&export=download" target="_blank"  class="text-indigo-500"> DOWNLOAD </a>
                          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                        <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                            <a href="https://github.com/yogesh7132/File-Organizer/issues" target="_blank">Report Issue</a>
                        </span>
                        <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                            <a href="https://github.com/yyscoop/File-Organizer" target="_blank">View Source</a>
                        </span>
                      </div>
                      
                      <span class="inline-flex">
                        <a class="text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                          </svg>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="p-4 lg:w-1/2">
                  <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="img/password.jpg">
                    <div class="flex-grow sm:pl-8">
                      <h2 class="title-font font-medium text-lg text-gray-900">Password Generator</h2>
                      <h3 class="text-gray-500 mb-3">Freeware | Windows</h3>
                      <p class="mb-4">Generate any quantity of random, strong and secure passwords with one mouse click just in seconds with Password Generator software.This application will create strong and secure passwords of you.</p>
                      <br>
                      
                      <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"><a href="https://drive.google.com/u/0/uc?id=140P5P4hqDdqkrFLD095Lc4FSzyGe3VJv&export=download" target="_blank" class="text-indigo-500"> DOWNLOAD </a>
                          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                        <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                            <a href="https://github.com/yogesh7132/password-generator/issues" target="_blank">Report Issue</a>
                        </span>
                        <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                            <a href="https://github.com/yyscoop/password-generator" target="_blank">View Source</a>
                        </span>
                      </div>
                      
                      <span class="inline-flex">
                        <a class="text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                          </svg>
                        </a>
                        <a class="ml-2 text-gray-500">
                          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                          </svg>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
          <!-- Test End -->


          <!-- Footer Section --------------------------------->
          <footer class="text-gray-700 body-font">
            <div class="container px-5 py-8 mx-auto">
              <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
              </div>
            </div>

            <div class="border-t border-gray-200">
              <div class="container px-5 py-8 flex flex-wrap mx-auto items-center">
                <div class="flex md:flex-no-wrap flex-wrap justify-center md:justify-start">
                  <p class="text-gray-600 text-sm md:ml-6 md:mt-0 mt-2 sm:text-left text-center"><b>NOTE:</b> To provide feedback, report a bug or request an enhancement, please use the <a href="https://github.com/yyscoop" target="_blank" class="text-indigo-500"><u>github issue</u></a> tracker. Or you can send an <a href="mailto:yyscoop@gmail.com" title="Send Email" class="text-indigo-500"><u>e-mail.</u></a>
                    <br>
                    <br class="lg:block hidden"> >>We invites volunteers who are interested in working with others to put their technology skills to good use for social change. Join at <a href="https://github.com/yyscoop" target="_blank" class="text-indigo-500" title="Github"><u>Github</u></a>
                  </p>
                </div>
              </div>
            </div>

            <div class="bg-gray-200">
              <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-600 text-sm text-center sm:text-left">Copyright @ 2020</p>
                <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-600 text-sm"> <a href="http://www.yyscoop.com/" class="text-gray-600 ml-1" target="_blank" rel="noopener noreferrer">www.yyscoop.com</a> | All Rights Reserved</span>
              </div>
            </div>
          </footer>
          <!-- Footer Section END ----------------------------->

    </body>
</html>